<link href="../bower_components/building-blocks/style/action_menu.css" rel="stylesheet" type="text/css">

<form role="dialog" data-type="action">
    <header>{{title}}</header>
    <menu>
        {{#each actionButton in actionMenuButtonMapping}}
            {{#if actionButton.disabled}}
                <button disabled {{action "fxosActionMenuActions"}}>
                    {{actionButton.buttonName}}
                </button>
            {{else}}
                <button {{action "fxosActionMenuActions"}}>
                    {{actionButton.buttonName}}
                </button>
            {{/if}}
        {{/each}}
        <button {{action "cancelAction"}}>Cancel</button>
    </menu>
</form>