<link href="/bower_components/building-blocks/style/buttons.css" rel="stylesheet" type="text/css">

{{#if disabled}}
    <button disabled {{bind-attr class="cls"}}>{{text}}</button>
{{else}}
    <button {{bind-attr class="cls"}}>{{text}}</button>
{{/if}}
